openapi: 3.0.3
info:
  title: Swagger Investment - OpenAPI 3.0
  description: |-
    Simple invest management application
  contact:
    email: hss@outlook.com.br
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://localhost
tags:
  - name: Investment
    description: Investment APIs
  - name: Rate
    description: Rate APIs
  - name: User
    description: Operations about user
paths:
  /investment:
    post:
      tags:
        - Investment
      summary: Add a new investment list
      description: Adds new investments to the application
      operationId: addInvestiments
      parameters:
        - $ref: '#/components/parameters/IdempotencyId'
      requestBody:
        description: Create new investments to the application
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentRequestWrapper'
        required: true
      responses:
        '201':
          description: Successful operation
        '207':
          description: Partial successful operation - some items have fail in validations
        '400':
          description: Invalid input
        '422':
          description: Validation exception
    get:
      tags:
        - Investment
      summary: Find investment by query parameters
      description: Returns investments by parameters
      operationId: getInvestments
      parameters:
        - $ref: '#/components/parameters/InvestmentType'
        - $ref: '#/components/parameters/Bank'
        - $ref: '#/components/parameters/InitialDate'
        - $ref: '#/components/parameters/FinalDate'
        - $ref: '#/components/parameters/Aliquot'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/InvestmentSort'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentResultResponse'
        '400':
          description: Invalid ID supplied
  /rate/{type}:
    get:
      tags: 
        - Rate
      summary: Retrieve tax rates
      description: Retrieve tax rates over the time
      operationId: getRate
      parameters:
        - name: type
          in: path
          schema:
            type: string
            enum: ['SELIC','IPCA']
          required: true
        - $ref: '#/components/parameters/InitialDate'
        - $ref: '#/components/parameters/FinalDate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponseWrapper'
        '400':
          description: Bad request
        '429':
          description: Too many requests
components:
  schemas:
    InvestmentRequestWrapper:
      type: object
      properties:
        items:
          $ref: '#/components/schemas/InvestmentRequestList'
    InvestmentRequestList:
      type: array
      items:
        $ref: '#/components/schemas/InvestmentRequest'
    InvestmentRequest:
      type: object
      properties:
        bank:
          type: string
        type:
          type: string
        aliquot:
          type: string
          enum: ['PREFIXED','INFLATION','POSTFIXED']
        rate:
          type: number
          format: float
        initialDate:
          type: string
          format: date
        finalDate:
          type: string
          format: date
        amount:
          type: number
    InvestmentResultResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  bank:
                    type: string
                  type:
                    type: string
                    enum: ['CDB','RDB','LCA','LCI','CRA','CRI']
                  rate:
                    type: number
                    format: float
                  tax:
                    type: number
                    format: float
                  initialDate:
                    type: string
                    format: date
                  finalDate:
                    type: string
                    format: date
                  amount:
                    type: number
                    format: double
                  expectedFinalAmount:
                    type: number
                    format: double
                  earnedAmount:
                    type: number
                    format: double
                  profit:
                    type: number
    RateResponseWrapper:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  rate:
                    type: number
                    format: float
                  initialDate:
                    type: string
                    format: date
                  finalDate:
                    type: string
                    format: date
  parameters:
    IdempotencyId:
      name: idempotency-id
      in: header
      description: Idempotency identifier header
      required: true
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
    Size:
      name: size
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
    InvestmentSort:
      name: sort
      in: query
      description: Order of investment response
      schema:
        type: string
    InvestmentType:
      name: type
      in: query
      description: Type of the investment
      schema:
        type: string
    Bank:
      name: bank
      in: query
      description: Bank of investment
      schema:
        type: string
    InitialDate:
      name: initialDate
      in: query
      description: Initial date of investment
      schema:
        type: string
        format: date
    FinalDate:
      name: finalDate
      in: query
      description: Final date of investment
      schema:
        type: string
        format: date
    Aliquot:
      name: aliquot
      in: query
      description: Final date of investment
      schema:
        type: string
        enum: ['PREFIXED','INFLATION','POSTFIXED']