networks:
  default:
    driver: bridge
    name: bank

services:
  database:
    image: postgres:17
    container_name: investment-db
    hostname: db
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=investment
    ports:
      - "5432:5432"
    healthcheck:
      test: pg_isready -U postgres
      interval: 1s
      timeout: 20s
      retries: 20
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: "170MB"
  investment:
    image: hssiqueira/investments:1.0.0-SNAPSHOT
    container_name: investment-server
    hostname: investment
    environment:
      - POSTGRESQL_HOST=investment-db
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=admin
      - SERVER_PORT=8083
      - KAGGLE_USER=${KAGGLE_USER}
      - KAGGLE_KEY=${KAGGLE_KEY}
      - JAVA_TOOL_OPTIONS=-Xmx128M -Xms64M -Xss256k -XX:MaxMetaspaceSize=128M -XX:ReservedCodeCacheSize=32M -XX:MaxDirectMemorySize=16M -XX:+UseG1GC -XX:+ExitOnOutOfMemoryError
      - SERVER_TOMCAT_MAX_THREADS=25
    ports:
      - "8083:8083"
    depends_on:
      database:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "512MB"