name: pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  build:
    name: Project Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Build & Test & Generate Image
      run: mvn -B verify -Pdocker
  security-analysis:
    name: Security Analysis
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'JavaApp'
          path: '.'
          format: 'SARIF'
          out: 'reports'
      - name: Upload Dependency-Check report to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'reports/dependency-check-report.sarif'
      - name: Scan for secrets in repo
        uses: trufflesecurity/trufflehog@main
        with:
          path: '.'
          output: 'trufflehog.json'
      - name: Upload TruffleHog results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trufflehog-results
          path: trufflehog.json
      - name: Install Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install -y trivy
      - name: Scan Docker image built
        run: trivy image --exit-code 0 --severity HIGH,CRITICAL --format sarif -o trivy-results.sarif hssiqueira/investments:1.0.0-SNAPSHOT
      - name: Upload Trivy SARIF results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif